In [3]:
Fruits = {"Apple", "Banana", "Cranberry", "Durian"}
Fruits.add("Mango")
print(Fruits)

{'Mango', 'Durian', 'Cranberry', 'Banana', 'Apple'}

In [4]:
x = (3, 9, 7, 5, 4)
y = [3, 9, 7, 5, 4, 7, 3 ,2]

print(x[3]) #5
print(y[-3]) #7
print(x[-1]**y[-2]) #4**3 = 64
print(x[2]*y[4]) #7 * 4 = 28

5
7
64
28

In [5]:
a = [3, 1, 4, 1, 5 ,9]
print(a[1:4])

[1, 4, 1]

In [11]:
a = [3, 1, 4, 1, 5 ,9]
a.insert(2, "Python")
a.insert(5, "programming")
print(a[:2])
print(a[2], a[5])

[3, 1]
Python programming

In [12]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7}
result = a | b #a.union(b)
print(result)

{1, 2, 3, 4, 5, 6, 7}

In [13]:
n = (1, 15, 8, 6, 12, "Python", "C++", "Java", "PHP", "Thailand"  , "America", "Lao", "China")
print(n[:5])

(1, 15, 8, 6, 12)

In [14]:
n = (1, 15, 8, 6, 12, "Python", "C++", "Java", "PHP", "Thailand"  , "America", "Lao", "China")
print(n[5:9])

('Python', 'C++', 'Java', 'PHP')

In [26]:
n = (1, 15, 8, 6, 12, "Python", "C++", "Java", "PHP", "Thailand", "America", "Lao", "China")
print(n[9:])

('Thailand', 'America', 'Lao', 'China')

In [28]:
n = (1, 15, 8, 6, 12, "Python", "C++", "Java", "PHP", "Thailand", "America", "Lao", "China")
programming = n[5:9]
number = n[1:4]
result = programming + number
print(result)

('Python', 'C++', 'Java', 'PHP', 15, 8, 6)

In [31]:
months = {
    1: "January",
    2: "February",
    3: "March",
    4: "April",
    5: "May",
    6: "June",
    7: "July",
    8: "August",
    9: "September",
    10: "October",
    11: "November",
    12: "December"
}

key_5 = months.get(5)
key_8 = months.get(8)
key_11 = months.get(11)

print(key_5)
print(key_8)
print(key_11)

May
August
November

In [33]:
months = {
    1: "January",
    2: "February",
    3: "March",
    4: "April",
    5: "May",
    6: "June",
    7: "July",
    8: "August",
    9: "September",
    10: "October",
    11: "November",
    12: "December"
}

value_of_months = months.values()
print(list(value_of_months))

['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

In [1]:
numbers = [12, 3, 1, -5, 8, 3, -2, 10]
print('numbers in list =', len(numbers))
print('Min number =', min(numbers))
print('Max number =', max(numbers))

numbers in list = 8
Min number = -5
Max number = 12