In [7]:
salary = [500, "python", 1500, "programming"]
name = ["python", "Java", "c++", "php"]
name.insert(3, "HTML")
name.insert(0, 1500)
print(name)
print(len(salary))

[1500, 'python', 'Java', 'c++', 'HTML', 'php']
4

In [11]:
num = [5, 10, 9.4]
num.append(150)
num.append("High")
print(num)

[5, 10, 9.4, 150, 'High']

เมธอด POP() ลบข้อมูลใน LIST โดยการระบุINDEXที่ต้องการลบ (หรือถ้าไม่ระบุ INDEX จะเป็นการลบข้อมูลตัวสุดท้าย)​

In [16]:
num = [5, 10, 7]
num.pop()
num.pop(0)
print(num)

[10]

ลบข้อมูล LIST ด้วย REMOVE()

In [23]:
num = [5, 10, 7]
num.remove(10)
print(num)

[5, 7]

ลบข้อมูล LIST ด้วย DEL โดยจะต้องระบุ INDEXที่ต้องการลบ

In [29]:
num = [5, 7, 10]
del num[1]
print(num)

[5, 10]

List clear() Method

In [4]:
fruits = ['apple', 'banana', 'cherry', 'orange']

fruits.clear()
print(fruits)

[]

SUB-LIST หรือ LIST SLICING คือการตัดข้อมูลใน LIST
รูปแบบ ตัวแปร[ x: y ]
    x คือตำแหน่งเริ่มต้น​
    y คือตำแหน่งก่อนตัด นั่นคือ จะตัดที่ตำแหน่ง y-1

In [56]:
num = [1, 2, 3, 4, 5, 6, 7]
print(num[1:3])
print(num[:4])
print(num[0:5])
print(num[2:])
print(num[:])
print(num[::-1])

[2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[7, 6, 5, 4, 3, 2, 1]
[7]

Tuple
คือ list ที่ไม่สามารถแก้ไขข้อมูลได้  วิธีการสร้างจะคล้ายกับ list แต่เปลี่ยนเครื่องหมาย [ ] เป็น  ( )

In [58]:
num = (1, 5, 9, 3)
print(num[1])

5

Set
ไม่มีค่าซ้ำ

In [62]:
num1 = {1, 5, 9, 3}
num2 = {1, 15, 9, 3, 1, 6, 9}
print(num1)
print(num2)

{1, 3, 5, 9}
{1, 3, 6, 9, 15}

In [64]:
num = int(input("Enter num: "))
num1 = [0.5, 0.7]

tax1 = num*num1[0]
tax2 = num*num1[1]
sumTax = tax1*tax2

print(sumTax)

Enter num:  100

3500.0

ชนิดข้อมูลดิกชันนารี (DICTIONARY)
ข้อมูลดิกชันนารี (Dictionary) สามารถเปลี่ยนแปลงข้อมูลได้เหมือนกับชนิดข้อมูล LIST คือ เพิ่ม ลบ แก้ไข​
การเก็บข้อมูลจะมีลักษณะ  เก็บข้อมูลแบบคู่ประกอบด้วย คีย์ (Key) และค่าข้อมูล (Value)  ​
การจัดเก็บสมาชิกจะอยู่ในเครื่องหมายวงเล็บปีกกา {…}​
มีการแยกส่วนของ Key และ Value  ด้วยเครื่องหมาย colon  ( : ) และเครื่องหมาย comma ( , ) เพื่อแยกแต่ละคู่ Key และ Value
Program = {1: “Python”, 2: “Java”, 3: “PHP”}

In [2]:
program = {
    1:"Python",
    2:"Java",
    3:"PHP"
}

print(program)
print(program[2])
print(program[1])

{1: 'Python', 2: 'Java', 3: 'PHP'}
Java
Python

ค่าของ VALUE เป็นได้ทั้งชนิดข้อมูล สตริง  จำนวนเต็ม ทศนิยม  ลิสต์ ทูเพิล เซต  และค่าว่างได้ แต่ค่า KEY ต้องไม่ซ้ำกัน

In [3]:
program = {
    1:"Python",
    2:"Java",
    3:"PHP"
}

name = {
    "name1": "Jack",
    "name2": "Jill",
    "name3": " ",
    "name4": "Joe"
}

computer = {
    "CPU": ["i3", "i5", "i7"],
    "RAM": ["4GB", "16GB", "64GB"]
}

faculty = {
    1.1: "Science",
    1.2: "Nurse",
    1.3: "Medicine"
}

print(program)
print(name)
print(computer)
print(faculty)

{1: 'Python', 2: 'Java', 3: 'PHP'}
{'name1': 'Jack', 'name2': 'Jill', 'name3': ' ', 'name4': 'Joe'}
{'CPU': ['i3', 'i5', 'i7'], 'RAM': ['4GB', '16GB', '64GB']}
{1.1: 'Science', 1.2: 'Nurse', 1.3: 'Medicine'}

เมธอดและฟังก์ชันที่ใช้กับชนิดข้อมูลดิกชันนารี

In [5]:
# Method clear
program = {
    1:"Python",
    2:"Java",
    3:"PHP"
}

program.clear()
print(program)

{}

In [6]:
# Method copy
program = {
    1:"Python",
    2:"Java",
    3:"PHP"
}

com_program = program.copy()
print(com_program)

{1: 'Python', 2: 'Java', 3: 'PHP'}

เมธอด fromkeys() ใช้สร้าง value ให้เหมือนกันทุกค่า แต่ key จะไม่ซ้ำกัน​
dict_name.fromkey(key, value=none)
​key  คือ key ที่ระบุไม่ซ้ำกัน   ​
value=none คือ ข้อมูลของแต่ละ key จะกำหนด​หรือไม่ก็ได้

In [7]:
key_1 = {1, 2, 3}
val = "hello"
output = dict.fromkeys(key_1, val)
print(output)

{1: 'hello', 2: 'hello', 3: 'hello'}

เมธอด get() ใช้แสดง value ที่เก็บในแต่ละ key ถ้าไม่พบค่า key ที่ระบุ จะแสดงค่าเป็น none​
dict_name.get(key, value=none)​
value=none คือ value ของแต่ละ key จะกำหนดหรือไม่ก็ได้

In [12]:
name = {
    1: "Python",
    2: "Java",
    3: "PHP"
}
output_name1 = name.get(2)
output_name2 = name.get(5)
print(output_name1)
print(output_name2)

Java
None

เมธอด items() ใช้แสดงข้อมูลทั้งหมด​
dict_name.items()

In [13]:
name = {
    1: "Python",
    2: "Java",
    3: "PHP"
}
output_name = name.items()
print(output_name)

dict_items([(1, 'Python'), (2, 'Java'), (3, 'PHP')])

เมธอด len ใช้แสดงจำนวนข้อมูลทั้งหมด​
len(dict_name)

In [14]:
dict_name = {
    1: "Python",
    2: "Java",
    3: "PHP"
}
length = len(dict_name)
print(length)

3

แบบฝึกท้ายบท

In [15]:
a = (1, 2, 3, 4, 5)
b = [10, 6, 3, 29, 7]

print(a[-1]) # 5
print(a[-3]) # 3
print(b[1]**a[1]) # 36
print(a[2]*b[-3]) # 9

5
3
36
9

In [18]:
num = [30, 5, 10.6, 45, 9]
print(num)
num.insert(2, 100)
print(num)

[30, 5, 10.6, 45, 9]
[30, 5, 100, 10.6, 45, 9]

In [20]:
x = [99, 12, 30, "Python", 30, 5, "language", 45, 9]
print(x)
x.insert(0, "Data")
x.insert(3, "science")
print(x)

[99, 12, 30, 'Python', 30, 5, 'language', 45, 9]
['Data', 99, 12, 'science', 30, 'Python', 30, 5, 'language', 45, 9]

In [21]:
data = ['Data', 99, 12, 'science', 30, 'Python', 30, 5, 'language', 45, 9]
print(f"{data[0]} {data[3]}\n{data[-6]} {data[-3]}")

Data science
Python language

In [23]:
n = ("Python", "C++", "Java", "PHP", 3, 5, 5, 8, 14, 2, 1)
print(n[:4])
print(n[4:])

('Python', 'C++', 'Java', 'PHP')
(3, 5, 5, 8, 14, 2, 1)

In [26]:
x = [1, 2, 3, 4, 5, 6]
y = [8, 7, 6, 5, 4, 3, 2, 1, 0]
z = x[1:4] + y[4:5]
num = z[1]**z[0] # 9
print(num)

9

In [27]:
x = [0, 1, 2, 5, 14, 18]
print(x[:2]) # 0 1

[0, 1]

In [28]:
month_dict = {
    1: "January",
    2: "February",
    3: "March",
    4: "April",
    5: "May",
    6: "June",
    7: "July",
    8: "August",
    9: "September",
    10: "October",
    11: "November",
    12: "December"
}

month5 = month_dict.get(5)
month8 = month_dict.get(8)
month11 = month_dict.get(11)

print(f"Month 5: {month5}\nMonth 8: {month8}\nMonth 11: {month11}")

Month 5: May
Month 8: Aug
Month 11: Nov

In [18]:
mylist = [1, 2, 3]
newlist = [4, 5, 6]

print(mylist + newlist)
print(mylist*2)

name = ["Jirat", "fongda", "Andrew", "abc"]
name = sorted(name, key=str.casefold)
print(name)

number = [10, 52, 88, 99, 1, 2, 3, 58, 100]
print(sorted(number))
print(sorted(number, reverse=True))

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3]
['abc', 'Andrew', 'fongda', 'Jirat']
[1, 2, 3, 10, 52, 58, 88, 99, 100]
[100, 99, 88, 58, 52, 10, 3, 2, 1]

In [43]:
myDict = {
    1: "0001",
    2: "0010",
    3: "0011"
}

for i in myDict:
    print(f"{i}: \"{myDict[i]}\"")

print(myDict.get(2))
print(myDict.get(4, "NO ENTRY"))
print("Hello","World", sep="---")

1: "0001"
2: "0010"
3: "0011"
0010
NO ENTRY
Hello---World

In [47]:
number = 500
print("%20d" % number)
print("%-20d Hello" % number)
print("%+20d Hello" % number)
print("%020d Hello" % number)
print("%20.2f Hello" % number)

data = {
    'name': 'John',
    'age': 30,
    'city': 'New York'
}

# ดึงค่าจาก dictionary โดยใช้การฟอร์แมตแบบเก่า
print("Name: %(name)s, Age: %(age)d, City: %(city)s" % data)
sqlist = [x*x for x in range(1, 11)]
print(sqlist)

sqlist = [x*x for x in range(1, 11) if x%2 != 0]
print(sqlist)

print([ch.upper() for ch in 'comprehension' if ch not in 'aeiou'])

                 500
500                  Hello
                +500 Hello
00000000000000000500 Hello
              500.00 Hello
Name: John, Age: 30, City: New York
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 9, 25, 49, 81]
['C', 'M', 'P', 'R', 'H', 'N', 'S', 'N']