In [3]:
num = 9
print("Hello")
print()
print("haha", num)

Hello

haha 9

In [7]:
print(56)
print(53-8)
print('53-8')

56
45
53-8

In [21]:
num = 9
print("number value:", num)
print("tax =", 20.5)
print("tax = 20.5")

number value: 9
tax = 20.5
tax = 20.5

In [27]:
num = 2
a = 6
salary = 3000
_salary = 3333
sa_lary = 9999
b = 15000 #เงินเดือน
print(_salary)

3333

In [43]:
num1, num2, num3 = 45, 55, 65
print(f"{num1} {num2} {num3}")
pi = 3.14
area = pi*5**2
print(area)

45 55 65
78.5

In [67]:
num = 7
num = 9
str = "aeiou"
list = [ i for i in "Hello" if i not in str]
print(num)
print(list)

9
['H', 'l', 'l']

In [71]:
x = 5
y = -1.5
x = (int)(x+y)
print(x)

3

In [95]:
salary = 50000
tax = salary * (3.5/100)
print(f"Salary: {salary*12-tax*12:.2f} Tax: {tax*12:.2f}")

Salary: 579000.00 Tax: 21000.00